body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    color: #FF0000;
}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.margin-top{
    margin-top: 10px;
}

.margin{
    margin: 5px;
}